name: GHA functions
on:
  workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - dev
  #     - feature/**
jobs:
  quality_checks:
    runs-on: ubuntu-latest
    if: startswith(github.ref_name,'feature/') && github.event_name == 'push'
    steps:
      - name: running quality checks
        run: |
          echo "running quality checks"
          exit 1
  dev_deploy:
    runs-on: ubuntu-latest
    if: github.ref_name == 'dev' && github.event_name == 'push'
    steps:
      - name: deploy to devlopement environment
        run: echo "depoying to dev env"
  prod_deploy:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main' && github.event_name == 'push'
    steps:
      - name: deploy to producition environment
        run: echo "depoying to production env."
  on_success:
    runs-on: ubuntu-latest
    needs: ["quality_checks", "dev_deploy", "prod_deploy"]
    if: always() && !failure()
    steps:
      - name: sending notification on_success
        run: echo "sending notification on success."
  on_failure:
    runs-on: ubuntu-latest
    needs: ["quality_checks", "dev_deploy", "prod_deploy"]
    if: failure()
    steps:
      - name: sending failure notification on_failure
        run: echo "sending failure notification on_failure"
