name: Secrets and varaible
on:
  workflow_dispatch
  # push:
  #   branches:
  #     - main
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: accessing varaible
        run: echo "My name is ${{ vars.MY_NAME }}"
      - name: accessing secret variable
        run: echo "My name is ${{ secrets.MY_SECRET_NAME }}"
