name: deploy static web to aws using gha
on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: checking out in file directory.
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1 # change to your region

      - name: Sync files to S3
        run: aws s3 sync . s3://YOUR-BUCKET-NAME --delete
